body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
    padding: 20px;
    margin: 0px;
}

header {
    background: gray;
    padding: 5px 20px 5px 20px;
    /* box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75); */
}

section {
    background: white;
    color: white;
    padding: 10px 20px 10px 20px;
}

footer {
    background: gray;
    padding: 5px 20px 5px 20px;
    /* box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75); */
}

section div{
  /* background: pink; */
  /* border: 1px solid gray; */
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
  margin-bottom: 20px;
}

section div div {
  margin-bottom: 0px;
  padding-left: 2px;
  padding-right: 2px;
  line-height: 1.6;
  background: #546e7a;
  display: flex;
  flex-direction: row;

  box-shadow: none;
}

section div div div{
  align-items: center;
}

select{
  font-size: 18px;
  color: gray;
  background: white;
  width: 100%;
}

button {
  border: none;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

input {
  width: 100%;
  height: 75%;
  text-align: center;
  border: none;
  font-size: 0px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* CSS Classes */
.firstColumn{
  width: auto;
  margin-left: 0px;
  margin-right: auto;
  /* background: orange; */
}

.secondColumn{
  width: auto;
  margin-left: auto;
  margin-right: 0px;
  font-size: 16px;
  /* background: pink; */
}

.thirdColumn{
  width: 120px;
  margin-left: 0px;
  margin-right: 0px;
  /* background: violet; */
}

@media only screen and (min-width: 530px){
  header{
    margin: auto;
    width: 450px;
  }
  section{
    margin: auto;
    width: 450px;
  }
  footer{
    margin: auto;
    width: 450px;
  }
}

/*CSS Media Querry for changes need to fit phones */
@media only screen and (max-width: 480px){  
  body{
    font-size: 19px;
    padding: 0px;
  }
  .secondColumn{
    font-size: 14px;
  }
  label{
    width: auto;
    margin-left: auto;
    margin-right: 0px;
  }
  .thirdColumn{
    margin-right: 10px;
  }

  section div div{
    line-height: 2;
  }
}




/* ------ CSS for Toogle Switch ------ */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The toggle */
  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #819ca9;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggle:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #f5f5f5;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  input:checked + .toggle:before {
    /* background-color: red; */
  }

  input:checked + .toggle {
    background-color: #363636;
  }
  
  input:focus + .toggle {
    box-shadow: 0 0 1px #363636;
  }
  
  input:checked + .toggle:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded toggles */
  .toggle.round {
    border-radius: 24px;
  }
  
  .toggle.round:before {
    border-radius: 50%;
  }

/* ------ CSS for Silder Input ------ */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #819ca9;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #f5f5f5;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f5f5f5;
  cursor: pointer;
}